@import "./pages/accueil";
@import "./pages/menus.scss";

.referencement {
  display: none;
}

body {
  margin: 0;
  height: 0;
  font-family: Roboto;
  @media (min-width: 768px) {
    max-width: 60rem;
    margin: auto;
  }
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

footer > p > a {
  color: white;
}