$primary-color: #9356DC;
$secondary-color: #FF79DA;
$thrid-color: #99E2D0;

.referencement {
  display: none;
}

.step-btn {
  &__number {

  }
  &__icon {

  }
  &__txt {

  }
}

.menu-card {
  &__img {

  }
  &__icon {

  }
}

.logo {
  &--black {

  }
  &--white {
    
  }
}