@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Shrikhand;
  src: url("../../fonts/Shrikhand/Shrikhand-Regular.ttf");
}