@import "../partiels/logo";
@import "../partiels/colors";
@import "../partiels/fonts";
@import "../partiels/footer";

$home-width-list: (1:50%, 2:75%);
@mixin home-width {
  @each $key, $value in $home-width-list {
    &:nth-child(#{$key}) {
      max-width: $value;
    }
  }
}

.home-header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 2px solid #646464;
  padding-top: 1rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  background-color: $grey;
  span {
    padding-left: 1rem;
  }
}

.home-description {
  display: flex;
  flex-direction: column;
  background-color:$light-grey;
  text-align: center;
  align-items: center;
  h1 {
    max-width: 50%;
  }
  p {
    max-width: 75%;
  }
  button {
    min-height: 3rem;
    min-width: 50%;
    margin-bottom: 3rem;
    border: 1px transparent;
    border-radius: 3rem;
    background-image: linear-gradient(to bottom right,  $secondary-color, $primary-color);
    color: white;
    font-weight: bold;
    box-shadow: .25rem .25rem 1rem $grey;
    &:hover {
      opacity: .8;
      box-shadow: .25rem .25rem 1rem $dark-grey;
    }
  }
}

.home-tuto {
  padding: 1rem;
}

.step-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: $light-grey;
  border-radius: 1rem;
  box-shadow: 0 .25rem .5rem $grey;
  margin-bottom: 1rem;
  min-height: 4.5rem;
  &:hover {
    background-color: lighten($primary-color, 35%);
  }
  &__number {
    background-color: $primary-color;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    color: white;
    margin-left: -.5rem;
    font-size: .8rem;
  }
  &__icon {
    align-self: center;
    margin: 1rem;
    color: $dark-grey;
    //:hover > &  = SCSS selector that essentially looks at the parent node to determine if the child was within a :hover pseudo-class. 
    :hover > & {
      color: $primary-color;
    }
  }
  &__txt {
    & a {
      color: black;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

#restaurants {
  background-color: #e5e5e5;
  padding: 1rem;
}

.menu-card {
  margin: 0;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  min-height: 15rem;
  position: relative;
  .new {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: $thrid-color;
    color: darken($thrid-color, 40);
    font-weight: bold;
    box-shadow: $thrid-color;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  &__img {
    width: 100%;
    height: 100%;
    & > img {
      width: 100%;
      height: 11rem;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
  }
  & > figcaption {
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__txt {
    max-width: 80%;
    margin: .5rem 0 0 .5rem;
  }
  &__icon {
    align-self: center;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: $dark-grey;
    .fas {
      display: none;
    }
    &:hover {
      color: $secondary-color;
      .far {
        display: none;
      }
      .fas {
        display: unset;
      }
    }
  }
}

.logo {
  &--black {
    @include logo(black, 2rem);
  }
  &--white {
    // filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg) brightness(104%) contrast(101%);
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
  }
}

footer {
  @include footer;
}