@import "../partiels/keyframes";
@import "../partiels/hearth";

.menus-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: .5rem 0;
  .return-icon {
    background-color: white;
    border: none;
    position: absolute;
    left: 1rem;
    font-size: 1rem;
    align-self: center;
  }
}

.menu {
  &__img {
    & > img {
      width: 100%;
    }
  }
  &__description {
    border-radius: 3rem 3rem 0 0;
    background-color: #f5f5f5;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -3.5rem;
    & > button {
      align-self: center;
      min-height: 3rem;
      min-width: 50%;
      margin: 1.5rem 0 1.5rem 0;
      border: 1px transparent;
      border-radius: 3rem;
      background-image: linear-gradient(to bottom right,  $secondary-color, $primary-color);
      color: white;
      font-weight: bold;
      box-shadow: .25rem .25rem 1rem $grey;
      &:hover {
        opacity: .8;
        box-shadow: .25rem .25rem 1rem $dark-grey;
      }  
    }
  }
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem .5rem;
  &__title {
    font-family: Shrikhand;
    font-weight: 400;
  }
  @include hearth('.menu-header');
}

.menu-step {
  &__title {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    padding-top: 1rem;
    &::after {
      content: "";
      width: 3.5rem;
      height: .2rem;
      background-color:$thrid-color;
      margin: .5rem 0;
    }
  }
}

.plat {
  background-color: white;
  border-radius: 1rem;
  margin: .5rem 0 .5rem 0;
  display: flex;
  flex-direction: row;
  box-shadow: .25rem .25rem 1rem $dark-grey;
  height: 4.5rem;
  overflow: hidden;
  animation: popitem 1s linear;
  animation-fill-mode: forwards;
  opacity: 0;
  .check-wrapper {
    width: 0;
    min-width: 0;
    background-color: $thrid-color;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 1rem 0;
    transition: width 500ms ease-in-out, min-width 500ms ease-in-out;
    &::after {
      font-family: "Font Awesome 5 Free";
      content: "\f058";
      color: white;
      font-weight: 900;
      font-size: 1.2rem;
    }
  }
  &:hover {
    .check-wrapper {
      width: 3.5rem;
      min-width: 3.5rem;
      &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f058";
        color: white;
        font-weight: 900;
        font-size: 1.2rem;
        animation: check 500ms ease-in-out;
      }
    }
  }
  &__header {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    margin: 1rem 0 1rem 1rem;
    &__title, &__txt {
      text-overflow: ellipsis;
      overflow:hidden;
      white-space: nowrap;
    }
  }
  &__price {
    margin-left: auto;
    align-self: center;
    margin-right: 1rem;
    font-weight: bold;
  }
}

@for $i from 1 to 10 {
  .delay-#{$i} {
    animation-delay:  #{$i/10}s;
  }
}

#note-enchantee {
  margin-top: -17rem;
}